body{
	/*background:url(images/index_bg.jpg);*/
	
}

.src-box{
	width: 80%;
	margin:auto;
	margin-top: 250px;
	align-self: center;
}

.src-btn{
	width:200px;
}

.logo{
	height:120px;
}

.result{
	padding-left: 40px;
    padding-right: 40px
}

.text{
	font-size:20px;
	font-weight: bold;
}